body {
  padding: 50px;
  background-color: lightcyan;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  font: 13px 'Raleway', sans-serif;
}
body > nav span {
  border-radius: 25px;
  border: 2px solid black;
  padding: 5px;
  background-color: honeydew;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

a {
  color: lightseagreen;
}
a:hover {
  background-color: yellow;
}

.home {
  text-align: center;
}
#homePageImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#showPage {
  font: 14px 'PT Sans', sans-serif;
}

#new-edit-form {
  padding: 12px 20px;
  font: 14px 'PT Sans', sans-serif;
}

#link {
 width: 75%;
 height: 25px;
}

#description-comment {
  width: 50%;
  height: 75px;
}

table {
  width: 100%;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  padding: 2px;
  border-collapse: collapse;
  border-width: medium;
}
th {
  font: 16px 'Lato', sans-serif;
}
td {
  font: 14px 'PT Sans', sans-serif;
}
td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

select {
  font: 14px 'PT Sans', sans-serif;
}

input[type="date"] {
  font: 14px 'PT Sans', sans-serif;
}

textarea {
  font: 14px 'PT Sans', sans-serif;
}
textarea::placeholder {
  color:  black;
  opacity: 0.3;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 30px;
}

