body {
  padding: 50px;
  background-color: lightcyan;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 30px;
  font: 22px 'Raleway', sans-serif;
  font-weight: bold;
  
}
body > nav span {
  border-radius: 25px;
  border: 2px solid black;
  padding: 5px;
  background-color: honeydew;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

a {
  color: lightseagreen;
}
a:hover {
  background-color: yellow;
}

h1 {
  text-align: center;
  font-family: 'Vesper Libre', serif;
}
#homePageImg {
  display: block;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#showPage {
  font: 18px 'PT Sans', sans-serif;
}

#new-edit-form {
  padding: 12px 20px;
  font: 14px 'PT Sans', sans-serif;
}

#headings {
  font-size: 24px;
  font-weight: bolder;
}
#link {
 width: 75%;
 height: 50px;
}

#description-comment {
  width: 50%;
  height: 75px;
}

button {
  font-size: 16px;
  padding: 6px 6px;
  border-radius: 15px;
  font-family: 'Saira', sans-serif;
}
#add-edit-button {
  background-color: rgb(48, 141, 27);
  transition-duration: 0.4s;
  width: fit-content;
  color: whitesmoke;
  border: solid;
  border-width: 2px;
  border-color: gold;
}
#add-edit-button:hover {
  background-color: rgb(220, 136, 20);
  border-width: 5px;
  border-color: papayawhip;
}
#favorite-button {
  background-color: blue;
  transition-duration: 0.4s;
  width: fit-content;
  color:antiquewhite;
  border: solid;
  border-width: 2px;
  border-color: goldenrod;
}
#favorite-button:hover {
  background-color: hotpink;
  border-width: 5px;
  border-color: blanchedalmond;
}
#favorite-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#delete-button {
  background-color: grey;
  transition-duration: 0.4s;
  width: fit-content;
  color: white;
}
#delete-button:hover {
  background-color: black;
  border: solid;
  border-width: 5px;
  border-color: red
}


table {
  width: 100%;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  padding: 2px;
  border-collapse: collapse;
  border-width: medium;
}
th {
  font: 20px 'Lato', sans-serif;
}
td {
  font: 16px 'PT Sans', sans-serif;
}
td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

select {
  font: 14px 'PT Sans', sans-serif;
}

input[type="date"] {
  font: 14px 'PT Sans', sans-serif;
}

textarea {
  font: 14px 'PT Sans', sans-serif;
}
textarea::placeholder {
  color:  black;
  opacity: 0.3;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img {
  height: 30px;
}

footer {
  font-family: 'Vesper Libre', serif;
  text-align: center;
}

